.app{
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 182, 193, 0.189);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.inputField{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(255, 182, 193, 0.908);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.app-container{
    width: 30%;
    background-color: rgba(255, 182, 193, 0.605);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(255, 182, 193, 0.908);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: 
    #979797;
    color: #fff;
    cursor: pointer;
}
.nots{
  margin: 20px;
}
.nots-compnents{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    justify-items: stretch;
    width: 300px;
    height: max-content+10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 182, 193, 0.908);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;


}
.note-butn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
.note-1{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 182, 193, 0.908);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: 
    #979797;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
.inputField2{
    border-radius: 10px;
    border: 1px solid rgba(255, 182, 193, 0.908);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 0px;
    width: 300px;
}